<div class="contenedor">
  <div class="notificaciones">
    <div id="notificacion">
        <span class="texto">Se detuvo una operación riesgosa de <b>Cobro</b></span>  
        <button type="button" class="btn btn-primary">Ver más</button>
        <span class="fecha"><i>12/03/2017 a las 12:44:32</i></span>
    </div>
    <div id="notificacion">
        <span class="texto">Maria lopez de sucursal polanco detuvo una operación de tranferencia</span>  
        <button type="button" class="btn btn-primary">Ver más</button>
        <span class="fecha"><i>12/03/2017 a las 12:44:32</i></span>
    </div>
    <div id="verTodo">
        <button type="button" class="btn btn-link" routerLink="/Notificaciones">Ver todas las notificaciones</button>
    </div>
  </div>
</div>