<div class="fondo">
    <div class="header">
        <button type="button" class="btn" style="background-color:white;">Registrarse</button>
    </div>
    <div id="cuadroLogin">
        <h2>Inicia Sesión</h2>
        <form action="" class="form-group">
            <input class="form-control" classtype="email" placeholder="Usuario">
            <input class="form-control" type="password" placeholder="Contraseña">
            <button class="btn" type="submit">Entrar</button>
        </form>
    </div>
    <footer>
        <a href="#">Recuperar contraseña</a>
    </footer>
</div>