<div class="contenedor">
  <div class="alado">
    <h4>Filtros</h4>

    <form class="form-group" #formConsulta="ngForm">
      <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="form.nombre" name="nombre">
      <input type="text" class="form-control" placeholder="Apellido Paterno" [(ngModel)]="form.apellidoPat" name="apellidoPat">
      <input type="text" class="form-control" placeholder="Apellido Materno" [(ngModel)]="form.apellidoMat" name="apellidoMat">

      <h6>Riesgo</h6>
      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" [(ngModel)]="form.riesgo" name="riesgo">
        <option selected hidden>Seleccione...</option>
        <option value="BAJO">Bajo</option>
        <option value="MEDIO">Medio</option>
        <option value="ALTO">Alto</option>
      </select>

      <h6>Transacción</h6>
      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" [(ngModel)]="form.transaccion" name="transaccion">
        <option selected hidden>Seleccione...</option>
        <option value="Retiro">Retiro</option>
        <option value="Deposito">Deposito</option>
        <option value="Pago">Pago</option>
        <option value="Otro">Otro</option>
      </select>


      <h6>Tiempo</h6>
      <div>
        <p-calendar id="calendario" name="date1" [(ngModel)]="form.date1" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy"
          yearRange="2000:2030"></p-calendar>
        <p-calendar id="calendario" name="date1" [(ngModel)]="form.date2" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy"
          yearRange="2000:2030"></p-calendar>
      </div>
      <button (click)="formConsulta.reset()">Consultar</button>
    </form>

  </div>
  <div class="cuerpo">
    <div class="grupoReportes">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Transacción</th>
            <th scope="col">Monto</th>
            <th scope="col">Tipo de riesgo</th>
            <th scope="col">Fecha y hora</th>
            <th style="width: 12px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="previs">
            <td>Mario López</td>
            <td>Retiro</td>
            <td>$90,231</td>
            <td>Alto</td>
            <td>23/7/2018 13:44</td>
            <td>
              <button class="btn btn-link">
                <i class="fa fa-info"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="90">
              <div id="reporte">
                <p>Retiro fuera de rango normal</p>
                <div class="datos">
                  <span>
                    <b>Transacción:</b>
                    Retiro
                  </span>
                  <span>
                    <b>Tipo de Riesgo:</b>
                    Alto
                  </span>
                  <span>
                    23/7/2018 13:44
                  </span>
                </div>
                <div class="botones">
                  <button class="btn btn-danger">Cancelar Operación</button>
                  <button class="btn btn-success">Permitir Operación</button>
                </div>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>