<div class="contenedor">
  <div class="tabs">
    <button>
      Administradores
    </button>
    <button>
      Prevención de fraudes
    </button>
    <button>
      Prevención de lavado de dinero
    </button>
  </div>
  <div class="aside">
    <div class="input-group">
      <span class="input-group-prepend">
        <i class="fa fa-search input-group-text" id="basic-addon1" id="basic-addon1"></i>
      </span>
      <input aria-describedby="basic-addon1" placeholder="Filtrar..." class="form-control" type="text" name="filtrar" id="filtrar">
    </div>

    <div id="listaDeUsuarios">
      <div class="usuario">
        <div class="imagenPerfil">
          <i class="fa fa-user"></i>
        </div>
        <div class="info">
          <div class="nombre">
            <b>Julian Julio</b>
          </div>
          <div class="datos">
            <b>Empresa: </b>FISA
            <br>
            <b>Sucursal: </b>MONTERREY
            <br>
            <b>Clave: </b>48654798645
            <br>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="principal">
    
    <div class="infoPersona">
      <div class="imagen">
        <i class="fa fa-user"></i>
        <button class="btn btn-warning">Cambiar imagen</button>
      </div>

      <div class="datos">
        <b>Julian Julio</b>
        <br> Nombre(s):
        <br> Apellido Paterno:
        <br> Apellido Materno:
        <br> Edad:
        <br> Domicilio:
        <br> Empresa:
        <br> Sucursal:
        <br> Clave:
        <br> Puesto:
        <br> Teléfono:
        <br> Correo:
        <br> Contraseña:
        <br>
      </div>
    </div>

    <div class="pie">
      <button class="btn btn-danger">Eliminar Usuario</button>
      <button class="btn btn-success">Cambiar Rol</button>
      <button class="btn btn-primary">Editar Información</button>
    </div>
  </div>
</div>