<div class="cuerpo">
  <div class="side">
    <button class="pageTabs">Manejo de archivos</button>
    <button class="pageTabs">Reglas</button>
    <button class="pageTabs">Cuenta</button>
  </div>
  <div class="principal">
    <div id="manejoArchivos">
      <form class="form-group">
        <div class="selectArchivo">
          <span>Archivos cliente</span>
          <div class="custom-file">
            <input class="custom-file-input" type="file" id="inputCliente">
            <label for="inputCliente" class="custom-file-label">Seleccionar Archivo</label>
          </div>
        </div>

        <div class="footer">
          <button class="btn btn-success">Ejecutar ETL</button>
        </div>
      </form>
    </div>
    <div id="reglas">

    </div>
    <div id="cuenta">

    </div>
  </div>
</div>