<div class="cuerpo">
  <div class="side">
    <button class="pageTabs" (click)="selectorAjustes = 0" [ngClass]="{'active': selectorAjustes === 0}">Manejo de archivos</button>
    <button class="pageTabs" (click)="selectorAjustes = 1" [ngClass]="{'active': selectorAjustes === 1}">Reglas</button>
    <button class="pageTabs" (click)="selectorAjustes = 2" [ngClass]="{'active': selectorAjustes === 2}">Cuenta</button>
  </div>
  <div class="principal">
    <div id="manejoArchivos" *ngIf="selectorAjustes === 0">
      <form class="form-group">
        <div class="selectArchivo">
          <span>Archivos cliente:  </span><i class="fa fa-check"></i>
          <br>
          <div class="custom-file">
            <input class="custom-file-input" type="file" id="inputCliente">
            <label for="inputCliente" class="custom-file-label">Seleccionar Archivo</label>
          </div>
        </div>
        <div class="selectArchivo">
          <span>Archivos de liquidación PROSA:  </span><i class="fa fa-check"></i>
          <br>
          <div class="custom-file">
            <input class="custom-file-input" type="file" id="inputCliente">
            <label for="inputCliente" class="custom-file-label">Seleccionar Archivo</label>
          </div>
        </div>
        <div class="selectArchivo">
          <span>Archivos crédito:  </span><i class="fa fa-check"></i>
          <br>
          <div class="custom-file">
            <input class="custom-file-input" type="file" id="inputCliente">
            <label for="inputCliente" class="custom-file-label">Seleccionar Archivo</label>
          </div>
        </div>
        <div class="selectArchivo">
          <span>Archivos ATM:  </span><i class="fa fa-check"></i>
          <br>
          <div class="custom-file">
            <input class="custom-file-input" type="file" id="inputCliente">
            <label for="inputCliente" class="custom-file-label">Seleccionar Archivo</label>
          </div>
        </div>
        <div class="selectArchivo">
          <span>Archivos productos por cliente:  </span><i class="fa fa-check"></i>
          <br>
          <div class="custom-file">
            <input class="custom-file-input" type="file" id="inputCliente">
            <label for="inputCliente" class="custom-file-label">Seleccionar Archivo</label>
          </div>
        </div>
        <div class="selectArchivo">
          <span>Archivos Fondos de inversión:  </span><i class="fa fa-check"></i>
          <br>
          <div class="custom-file">
            <input class="custom-file-input" type="file" id="inputCliente">
            <label for="inputCliente" class="custom-file-label">Seleccionar Archivo</label>
          </div>
        </div>
        <br>
        <div class="selectArchivo">
          <span>Archivos transaccional:  </span><i class="fa fa-check"></i>
          <br>
          <div class="custom-file">
            <input class="custom-file-input" type="file" id="inputCliente">
            <label for="inputCliente" class="custom-file-label">Seleccionar Archivo</label>
          </div>
        </div>

        <div class="footer">
          <button class="btn btn-success">Ejecutar ETL</button>
          <button class="btn btn-primary">Subir archivos</button>
          
        </div>
      </form>
    </div>
    <div id="reglas" *ngIf="selectorAjustes === 1">
      <h3>Agregar reglas de detección de fraudes</h3>
      <div class="agregarReglas">
        <form class="form-group">
          
            <div><h5>Nombre:</h5><input class="form-control" type="text"></div>
            <div>
              <h5>Condición:</h5>
              <input class="form-control"  type="text" style="width: calc(50% - 28px);">
              <select class="form-control"  name="condicion" id="" style="width: 56px;">
                <option value="MENOR">&lt;</option>
                <option value="MENORIGUAL">&lt;=</option>
                <option value="IGUAL">=</option>
                <option value="MAYORIGUAL">&gt;</option>
                <option value="MAYOR">=&gt;</option>
              </select>
              <input class="form-control" type="text" style="width: calc(50% - 28px);">
            </div>
            
            <button class="btn btn-primary">Agregar regla</button>
        </form>
      </div>
      <div class="tablaReglas">
        <table class="table ">
          <thead class="thead-dark thead-boreded">
            <tr>
              <th scope="col" style="width:30%">Nombre</th>
              <th scope="col" style="width:50%">Condición</th>
              <th scope="col" style="width:10%">Fecha</th>
              <th scope="col" style="width:10%"><button class="btn btn-link">Editar</button></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Retiro alto</td>
              <td>Retiro mayor a $30,000</td>
              <td>23/6/2015</td>
              <td> <button class="btn btn-link"><i class="fa fa-times"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="cuenta" *ngIf="selectorAjustes === 2">

    </div>
  </div>
</div>